@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
}

.card-container {
    display: flex;
    flex-flow: row wrap;
}

.card {
    min-width: 200px;
    max-width: 400px;
    min-height: 50px;
}

.card-content {
    margin: 8px;
}